* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ICON */
img {
    height: 36px;
    width: 36px;
}

/* BACKGROUND */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    min-height: 100vh;
    padding: 20px;
}

/* CARD */
.row {
    background-color: #a18cd1;
    padding: 20px;
    border-radius: 16px;
    color: white;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* TITLE */
h2 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 16px;

}

/* INPUT AREA */
.inputt {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    outline: none;
    border: 1px solid #de2fde;
    padding: 12px 16px;
    border-radius: 999px;
    font-size: 0.95rem;
}

button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(80, 15, 139);
    color: white;
}

/* LIST */
ul {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
    text-align: left;
    padding-right: 4px;
}

ul li {
    list-style: none;
    font-size: 0.95rem;
    padding: 10px 40px 10px 40px;
    position: relative;
    cursor: pointer;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

/* CHECK ICON */
ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    left: 10px;
    top: 12px;
}

/* CHECKED */
.checked {
    color: #ecdddd;
    text-decoration: line-through;
}

.checked::before {
    background-image: url(images/checked.png);
}

/* DELETE */
ul li span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 22px;
    width: 22px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li span:hover {
    background-color: rgba(255,255,255,0.25);
}

/* MOBILE */
@media (max-width: 480px) {
    .row {
        padding: 16px;
    }

    ul {
        max-height: 250px;
    }
}
