body{
    margin: 0;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    height: 40px;
    width: 40px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    min-height: 100vh;
    width: 100%;
}

.row{
    font-size: 1.5rem;
    background-color: #a18cd1;
    padding: 0 30px 10px 30px;
    border-radius: 15px;
    height: max-content;
    color: white;
    width: 300px;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
input{
    outline: none;
    border: 1px solid #de2fde;;
    padding: 10px;
    align-items: center;
    width: 220px;
    margin: 0;
    border-radius: 50px;

}

.inputt{
    display: flex;
    justify-content: space-around;
}
button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50px;
    align-items: center;
    outline: none;
    left:0;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    background-color:rgb(80, 15, 139);
    color:white;
}
ul li {
    list-style: none;
    user-select: none;
    font-size: 1.2rem;
    padding: 10px 10px 10px 40px; /* space for icon */
    position: relative;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    left: 10px;
    top:10px;
    background-position: center;
}

.checked{
    color: #ecdddd;
    text-decoration: line-through;
}

.checked::before{
    background-image: url(images/checked.png);
    content: '';
}

ul li span{
    position: absolute;
    top:0px;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 10px ;
    display: flex;
    justify-content: center;
}

ul li span:hover{
    background-color: #d4d2d3;
    border-radius: 50%;
}